:root {
    --background:white;
    --header-bg: rgba(50, 50, 50);
    --btn-bg: #f4511e;
}
* {
    background: var(--background);
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: sans-serif;
    font-size: 18px;
}

h2 {
    font-size: 28px;
}

.container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    margin: 5px 10px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button span {
      background-color: #f4511e; 
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 15px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #uploadDataBtn {
      background-color: grey;
  }

  #uploadDataBtn span {
      background-color: grey;
  }

input {
    width: 8em;
    height: 1em;
    padding: 12px 20px;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid black;
}

.dataDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

input:focus {
    background-color: lightblue;
}

#result {
    width: auto;
    margin: 5px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}