<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h2>Testing data on AI model</h2>
        <div class="buttonContainer">
            <button id="uploadDataBtn" onclick="uploadData();" class="button"><span>Upload Data</span></button>
            <button id="testDataBtn" onclick="testData();" class="button"><span>Test Data</span></button>
        </div>
        <div class="dataDiv">
            <label for="testData">Data to test:</label>
            <input type="number" id="testDataInput" name="testData" step="0.1" placeholder="Value"><br><br>
        </div>
        <div class="dataDiv">
            <span id="result">Result</span>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>